@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family-main: "Amiri", serif;
    --font-family-secondary: "Source Sans 3", sans-serif;

    --color-main: #FFFFFF;

    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.header__container {
    padding-top: 30px;
    padding-left: clamp(24px, 5vw, 40px);
    padding-right: clamp(24px, 5vw, 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 240px;
}

.header__burger {
    all: unset;
    cursor: pointer;
    color: var(--color-main);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.header__nav {
    display: none;
}

.header__menu {
    display: flex;
    list-style: none;
}

.header__menu a {
    color: #FBF8EF;
    font-family: var(--font-family-secondary);
    font-weight: 600;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.header__menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #FBF8EF;
    transition: width 0.5s ease;
}

.header__menu a:hover::after {
    width: 100%;
}

.header__menu-item {
    padding-right: 16px;
}

.header__socials {
    display: none;
}

.header__socials-icon {
    width: 28px;
    height: 28px;
    background-color: rgb(213, 182, 101);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.header__socials-icon .logo_2gS {
    fill: var(--color-main); 
}

.header__socials-icon .outer_bDW,
.header__socials-icon .border_2yy {
  fill: none;
}

.header__socials-icon:hover {
    background-color: rgb(202, 163, 61);
}


@media (min-width: 1220px) {
    .header__container, .welcome__container, 
    .about-us__container, .facilities, 
    .join__content, .top__content, .testimonials__content, 
    .events, .blog__card-wrapper, .footer__down, .width-line
    {
        margin-inline: clamp(3px, calc((100vw - 1220px) * 0.4936 + 3px), 158px);
    }
}

@media (min-width: 990px){
    .header__burger {
        display: none;
    }
    .header__nav {
        display: flex;
    }
    .header__socials {
        display: inline;
    }
}

.welcome {
    background-image: url(images/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15% center;
    width: 100%;
    height: calc(100vh + 900px);
    margin-top: -71px;
}

@media (min-width: 505px) {
    .welcome {
        height: calc(100vh + 850px);
    }
}

@media (min-width: 517px) {
    .welcome {
        height: calc(100vh + 800px);
    }
}

@media (min-width: 525px) {
    .welcome {
        height: calc(100vh + 760px);
    }
}

@media (min-width: 560px) {
    .welcome {
        height: calc(100vh + 720px);
    }
}

.welcome__container {
    padding: 210px 24px;
}

.welcome__title {
    font-family: var(--font-family-main);
    font-size: 54px;
    color: var(--color-main);
    font-weight: 400;
    line-height: 1;
    padding-bottom: 40px;
}

.welcome__desc {
    font-family: var(--font-family-secondary);
    font-size: 20px;
    color: #FBF8EF;
    font-weight: 600;
    padding-bottom: 50px;
}

.btn {
    width: 100%;
    max-width: 158px;
    padding: 16px 30px;
    font-family: var(--font-family-secondary);
    font-size: 16.5px;
    font-weight: 700;
    text-decoration: none;
    border: solid 2px transparent;

    text-align: center; 
}

.btn--color {
    background-color: rgb(213, 182, 101);
    color: var(--color-main);
    border-color: rgb(213, 182, 101);
    transition: background-color 0.5s ease, border-color 0.5s ease;

    margin-right: 10px;
}

.btn--color:hover {
    background-color: var(--color-main);
    color: rgb(19, 74, 86);
    border-color: var(--color-main);
}

.btn--transparent {
    color: rgb(213, 182, 101);
    border-color: rgb(213, 182, 101);
    transition: background-color 0.5s ease;
}

.btn--transparent:hover {
    background-color: rgb(213, 182, 101);
    color: var(--color-main);
}

.welcome__cards {
    padding-top: 64px
}

.welcome__card {
    width: 100%;
    min-width: 436px;
    background-color: var(--color-main);
    margin-bottom: 50px;
    padding-inline: 26px;
    position: relative;
    z-index: 1;
}

.welcome__card-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 26px;
}

.welcome__card-title {
    font-family: var(--font-family-main);
    font-size: 24px;
    color: rgb(19, 74, 86);
    font-weight: 400;
    margin-top: 12px;
}

.welcome__card-title::after {
    content: "";
    display: block;
    height: 3px;
    width: 76px;
    background-color: rgb(213, 182, 101);
    margin: 10px 0 16px;
}

.welcome__card-desc {
    font-family: var(--font-family-secondary);
    font-size: 14px;
    color: rgb(111, 119, 121);
    font-weight: 400;
    padding-bottom: 28px;
    line-height: 1.6;
}

@media (min-width: 770px) {
    .welcome {
        height: calc(100vh + 300px);
    }
    .welcome__title {
        font-size: 76px;
        padding-top: 64px;
    }
    .welcome__cards {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        margin-top: 116px;
    }
    .welcome__card {
        width: 100%;
        min-width: 154px;
    }
    .welcome__card-desc {
        font-size: 15px;
        line-height: 2;
    }
}

@media (min-width: 990px) {
    .welcome__title {
        font-size: 92px;
        padding-top: 154px;
    }
}

@media (min-width: 1200px) {
    .welcome__title {
        padding-top: 122px;
    }
}

.about-us {
    background-color: rgb(251, 248, 239);
    margin-top: -135px;
    padding-bottom: 90px;
}

.about-us__container {
    padding-top: 220px;
    padding-inline: 24px;
}

.about-us__content {
    margin-top: 50px;
}

.sub {
    color: rgb(213, 182, 101);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    margin-bottom: 18px;
}

.title {
    color: rgb(19, 74, 86);
    font-family: var(--font-family-main);
    font-size: 38px;
    font-weight: 400;
    line-height: 1;
}

.desc {
    color: rgb(41, 98, 110);
    font-family: var(--font-family-main);
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
}

.paragraph {
    color: rgb(111, 119, 121);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.about-us__list {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.about-us__item {
    color: rgb(41, 98, 110);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-weight: 400;
}

.about-us__item::before {
    content: "";
    display: inline-block;
    background-image: url(images/tick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.btn--learn {
    background-color: rgb(19, 74, 86);
    color: var(--color-main);
    border-color: rgb(19, 74, 86);
    transition: background-color 0.5s ease, border-color 0.5s ease;

    display: block;
    margin-top: 36px;
}

.btn--learn:hover {
    background-color: rgb(213, 182, 101);
    border-color: rgb(213, 182, 101);
}

@media (min-width: 770px) {
    .about-us__container {
        display: flex;
        gap: 25px;
        padding-top: 250px;
    }
    .about-us__image {
        flex: 1;
        width: 340px;
        height: 360px;
        display: block;
        margin-top: 50px;
    }
    .about-us__content {
        flex: 1;
    }
    .title {
        font-size: 44px;
    }
}

@media (min-width: 860px) {
    .about-us__image {
      height: 400px;  
    }
}

@media (min-width: 950px) {
    .about-us__image {
      height: 450px;  
    }
}

@media (min-width: 990px){
    .title {
        font-size: 50px;
    }
    .desc {
        font-size: 21px;
    }
}

@media (min-width: 1100px) {
    .about-us__image {
      height: 543px;  
    }
}

.facilities__content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 90px;
}

@media (min-width: 1100px) {
    .facilities__content-text {
        padding-top: 115px;
    }
}

.facilities__cards {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.facilities__card {
    height: clamp(250px, 50vw, 554px);
    width: clamp(200px, 40vw, 440px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    padding: 20px;
    position: relative;
}

.facilities__card--beginner {
    background-image: url(images/girl_player.webp);
}

.facilities__card--prof {
    background-image: url(images/field);
}

.facilities__card--all {
    background-image: url(images/balls);
}

.facilities__card-text {
    width: 160px;
    margin-top: auto;
}

@media (min-width: 560px) {
    .facilities__card-text {
        width: 180px;
    }
}

.facilities__card-sub {
    color: rgb(213, 182, 101);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
}

.facilities__card-title {
    color: var(--color-main);
    font-family: var(--font-family-main);
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}

@media (min-width: 990px) {
    .facilities__cards {
        padding-top: 14px;
    }
     .facilities__card {
        height: clamp(352px, 50vw, 466px);
        width: clamp(280px, 40vw, 370px);
     }
}

.year {
    margin-left: 20px;
    margin-bottom: 110px;
}

.year__content {
    margin-top: 66px;
    margin-bottom: 80px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.year__content .title {
    font-size: 30px;
}

.year__content .paragraph {
    margin-top: 4px;
}

.year__content-text {
    display: flex;
    flex-direction: column;
}

.year__content::before {
    content: "";
    display: inline-block;
    background-color: #FBF8EF;    
    height: 50px;
    width: 50px;
    background-size: 60% 60%;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.year__content--1981::before {
    background-image: url(images/icons/player.svg);
}

.year__content--1990::before {
    background-image: url(images/icons/golf-ball.svg);
}

.year__content--2005::before {
    background-image: url(images/icons/t-shirt.svg);
}

.year__content--2018::before {
    background-image: url(images/icons/location.svg);
}

@media (min-width: 800px) {
    .year {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .year__content::before {  
        height: 70px;
        width: 70px;
        background-size: 50% 50%;
        border-radius: 50px;
    }
}

@media (min-width: 1000px) {
    .year {
        gap: 50px;
    }
    .year__content {
        margin-bottom: 5px;
    }
}

.join {
    background-color: rgb(19, 74, 86);
}

.join__content {
    padding: 60px 20px 80px;
}

.join__content-title {
    color: var(--color-main);
    font-family: var(--font-family-main);
    font-size: 38px;
    font-weight: 400;
}

.join__content-desc {
    color: var(--color-main);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 65px;
}


.join__content-desc span {
    color: rgb(213, 182, 101);
    font-weight: 700;
}

@media (min-width: 770px) {
    .join__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
   }
   .join__content-title {
        font-size: 44px;
        padding-right: 30px;
   }
   .join__content-desc {
        font-size: 15px;
        max-width: 255px;
        padding-top: 20px;
   }
}

@media (min-width: 990px) {
    .join__content-title {
        font-size: 50px;
        padding-right: 30px;
   }
   .join__content-desc {
        font-size: 16px;
        max-width: 466px;
   }
   .join .btn--color {
        max-height: 45px;
        font-size: 15px;
        display: inline-flex;
        align-items: center;
   }
}

.features__content {
    background-color: #FBF8EF;
    padding: 90px 30px;
}

.features__btn {
    padding-top: 50px;
    margin-bottom: 22px;
}

.features__btn .btn--color:hover {
    background-color: rgb(19, 74, 86);
    color: var(--color-main);
    border-color: rgb(19, 74, 86);
}

.features__btn .btn--transparent {
    color: rgb(19, 74, 86);
    border-color: rgb(19, 74, 86);
}

.features__btn .btn--transparent:hover {
    color: var(--color-main);
    background-color: rgb(19, 74, 86);
}

@media (min-width: 770px) {
    .features {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    .features__image,
    .features__content {
        width: 50%; 
    }
    .features__image {
        height: 100%;
        overflow: hidden;
    }
    .features__image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: left center;
    }
    .features__btn .btn {
        padding: 10px 18px;
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .features__content {
        padding: 110px 90px;
    }
    .features__btn .btn {
        padding: 12px 22px;
        font-size: 15px;
    }
}

.experience {
    background-color: rgb(19, 74, 86);
    padding: 90px 24px;
}

.experience__content--text {
    color: var(--color-main);
    font-family: var(--font-family-main);
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
}

.experience__content--text::before {
    content: "";
    display: block;
    background-image: url(images/icons/trophy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: 0 auto 20px;
}

.experience__content--desc {
    color: rgb(251, 248, 239);
    font-family: var(--font-family-secondary);
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 60px;
    text-align: center;
}

.experience__content .btn--color {
    display: block;
    white-space: nowrap;
    margin: -24px auto 4px;
}

@media (min-width: 770px) {
    .experience__content--text {
        font-size: 44px;
    }
}

@media (min-width: 990px) {
    .experience__content--text {
        font-size: 50px;
    }
    .experience__content--desc {
        font-size: 21px;
    }
}

.amenities__content {
    background-color: #FBF8EF;
    padding: 90px 30px;
}

.amenities__btn {
    padding-top: 50px;
    margin-bottom: 20px;
}

.amenities__btn .btn--color:hover {
    background-color: rgb(19, 74, 86);
    color: var(--color-main);
    border-color: rgb(19, 74, 86);
}

.amenities__btn .btn--transparent {
    color: rgb(19, 74, 86);
    border-color: rgb(19, 74, 86);
}

.amenities__btn .btn--transparent:hover {
    color: var(--color-main);
    background-color: rgb(19, 74, 86);
}

@media (min-width: 770px) {
    .amenities {
        display: flex;
        flex-direction: row;
        height: 130vh;
    }
    .amenities__image,
    .amenities__content {
        width: 50%; 
    }
    .amenities__image {
        height: 100%;
        overflow: hidden;
    }
    .amenities__image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center;
    }
    .amenities__btn .btn {
        padding: 10px 18px;
        font-size: 14px;
    }
}

@media (min-width: 800px) {
    .amenities {
        height: 120vh;
    }
}

@media (min-width: 1170px) {
    .amenities {
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .amenities__content {
        padding: 110px 90px;
    }
    .amenities__btn .btn {
        padding: 12px 22px;
        font-size: 15px;
    }
}

.top__content {
    background-color: var(--color-main);
    padding: 90px 30px;
}

.accommodation {
    background-image: url(images/golf-course.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
}

.accommodation__content {
    background-color: #FBF8EF;
    padding: 40px 30px;
    margin: 100px 20px;
}

@media (min-width: 770px) {
    .accommodation__content {
        margin: 100px 20px;
        max-width: 600px; 
        text-align: left; 
    }
}

@media (min-width: 1220px) {
    .accommodation__content {
        margin: 100px clamp(3px, calc((100vw - 1220px) * 0.4936 + 3px), 158px);
    }
}

.pricing {
    background-color: rgb(19, 74, 86);
    padding-top: 86px;
    text-align: center;
}

.pricing--title {
    color: var(--color-main);
    padding-top: 10px;
}

.pricing--desc {
    color: #FBF8EF;
    padding-inline: 20px;
    margin-bottom: 20px;
}

.pricing__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.pricing__card {
    background-color: var(--color-main);
    margin: 20px 0;
}

.pricing__card-content {
    text-align: center;
    padding-left: calc(-8px + 7vw);
    padding-right: calc(-8px + 7vw);
    padding-top: 40px;
    padding-bottom: 40px;
}

.pricing__card-image {
    width: 50px;
    display: inline-block;
}

.pricing__card-title {
    color: rgb(41, 98, 110);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    padding-top: 20px;
}

.pricing__card-price {
    color: rgb(213, 182, 101);
    font-family: var(--font-family-main);
    font-size: 48px;
}

.pricing__card-slash {
    color: rgb(111, 119, 121);
    font-size: 15px;
}

.pricing__card-subscription {
    color: rgb(111, 119, 121);
    font-size: 15px;
    font-family: var(--font-family-main);
    padding-bottom: 30px;
}

.pricing__card-text {
    color: rgb(111, 119, 121);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    padding-bottom: 8px;
}

.pricing__card-content .btn--color {
    display: block;
    white-space: nowrap;
    margin: 40px auto 4px;
}

.pricing__card-content .btn--color:hover {
    background-color: rgb(19, 74, 86);
    color: var(--color-main);
}

.testimonials {
    background-color: #FBF8EF;
}

.testimonials__content {
    text-align: center;
    padding-top: 80px;
    padding-inline: 20px;
}

.testimonials__content-image {
    width: 70px;
    display: inline-block;
    padding-top: 30px;
}

.testimonials__content-name {
    color: rgb(213, 182, 101);
    font-family: var(--font-family-main);
    font-size: 24px;
    padding-top: 10px;
}

.testimonials__content-desc {
    color: rgb(41, 98, 110);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    padding-top: 20px;
}

.testimonials__content-text {
    color: rgb(111, 119, 121);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    padding-top: 20px;
}

.testimonials__content-date {
    color: rgb(41, 98, 110);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 72px;
}

@media (min-width: 770px) {
    .testimonials__content {
        padding-inline: 100px;    
    }
    .testimonials__content-image {
        width: 120px;
    }
    .testimonials__content-name {
        font-size: 26px;
    }
    .testimonials__content-date {
        font-size: 15px;
    }
}

@media (min-width: 1100px) {
    .testimonials__content {
        padding-inline: 200px;    
    }
    .testimonials__content-name {
        font-size: 28px;
    }
    .testimonials__content-date {
        font-size: 16px;
    }
}

.events__content {
    padding: 86px 10px 20px;
    text-align: center;
}

.events__content .title {
    padding: 10px 0 0;
}

.events__content .desc {
    padding-bottom: 60px;
}

.events__image {
    width: 94%;
    margin: 0 auto;
}

.events__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-inline: 26px;
    margin-bottom: 90px;
}

@media (min-width: 760px) {
    .events__card-wrapper {
        margin-inline: 38px;
    }
}

.events__card {
    border: solid 2px rgb(251, 248, 239);
    padding: 26px;
    margin-top: 16px;
    text-align: left;
    flex: 1 1 clamp(200px, 45%, 437px);
}

.events__card-sub {
    color: rgb(41, 98, 110);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-style: italic;
}

.events__card-title {
    color: rgb(19, 74, 86);
    font-family: var(--font-family-main);
    font-size: 24px;
    font-weight: 400;
    padding: 20px 0;
}

.events__card-desc {
    color: rgb(111, 119, 121);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    padding-bottom: 40px;
}

.events__card .btn--color {
    padding: 8px 20px;
}

.events__card .btn--color:hover {
    background-color: rgb(19, 74, 86);
    color: var(--color-main);
    border-color: rgb(19, 74, 86);
}

@media (min-width: 990px) {
    .events__wrapper {
        display: flex;
    }
    .events__image {
        width: 27%;
        height: 466px;
        object-fit: cover;
        margin: 18px 10px 0 40px;
    }
}

@media (min-width: 1200px) {
    .events__image {
        width: 30%;
        height: 536px;
    }
}

.blog {
    background-color: #FBF8EF;
    padding-bottom: 100px;
}

.blog__content {
    text-align: center;
    padding-top: 80px;
}

.blog__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.blog__card {
    width: clamp(204px, 40vw, 424px);
}

.blog__card-image {
    width: 100%;
    height: clamp(260px, 44vw , 420px);
    padding-top: 40px;
    padding-bottom: 20px;
}

@media (min-width: 990px) {
    .blog__card {
        width: clamp(284px, 30vw, 370px);
    }
    .blog__card-image {
        height: clamp(268px, 28vw , 420px);
    }
}

.blog__sub {
    color: rgb(213, 182, 101);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    line-height: 25.2px;
    text-transform: uppercase;
}

.blog__title {
    color: rgb(19, 74, 86);
    font-family: var(--font-family-main);
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    padding: 20px 0;
}

.blog__desc {
    color: rgb(111, 119, 121);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.blog .btn--color {
    padding: 10px 24px;
}

.blog .btn--color:hover {
    background-color: rgb(19, 74, 86);
    color: var(--color-main);
    border-color: rgb(19, 74, 86);
}

.contacts {
    background-color: rgb(19, 74, 86);
    padding-bottom: 92px;
}

.contacts__content {
    padding: 80px 20px;
}

.title--contacts {
    color: var(--color-main);
}

.desc--contacts {
    color: rgb(251, 248, 239);
    padding-bottom: 20px;
}

.contacts__icon {
    width: 50px;
    color: rgb(213, 182, 101);
    background-color: rgb(41, 98, 110);
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    margin-right: 14px;
}

.contacts__wrapper {
    display: flex;
}

.contacts__text-wrapper {
    margin-bottom: 24px;
}

.contacts__main {
    color: var(--color-main);
    font-family: var(--font-family-main);
    font-size: 24px;
    font-weight: 400;
}

.contacts__text {
    color: rgb(251, 248, 239);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.tel, .mail {
   color: rgb(251, 248, 239); 
   cursor: pointer;
   font-family: var(--font-family-secondary);
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
}

.tel:hover , .mail:hover {
    border-bottom: 2px solid rgb(251, 248, 239);
}

.map-container {
    width: 100%;       
    max-width: 696px;
    padding-top: 44px;
}

.map {
    width: 100%;
    height: 300px ;
    filter: grayscale(100%) brightness(90%);
}

.booking__content {
    margin: -36px 22px 2px;
    background-color: rgb(41, 98, 110);
    padding-top: 40px;
    text-align: center;
}

.title--booking {
    color: var(--color-main);
}

.desc--booking {
    color: rgb(251, 248, 239);
    padding-top: 10px;
    padding-bottom: 20px;
}

.form__style {
    width: 80%;
    padding: 12px 15px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 2px solid rgb(67, 121, 131);
    font-family: var(--font-family-secondary);
    background-color: rgb(67, 121, 131);
    color: var(--color-main);
    opacity: 0.8;
}

.form__style::placeholder {
    color: var(--color-main);
    opacity: 0.8;
}

.form__style:focus {
    outline: none; 
    border: 2px solid #65c3e0;
    box-shadow: 0 0 5px rgba(5, 241, 230, 0.7);
}

.form .btn--color {
    width: 80% !important;
    max-width: none !important;
    margin-top: 36px;
    margin-bottom: 40px;
    margin-left: 14px;
    padding: 10px 20px;
}

@media (min-width: 770px) {
    .contacts {
        display: flex;
        gap: 20px;
        padding-inline: 20px;
    }

    .contacts__content,
    .booking {
        flex: 1 1 50%;      
        max-width: 50%;  
    }

    .booking__content {
        margin-top: 90px;
        padding: 42.5px 20px;
    }    
}

@media (min-width: 800px) {
    .title--booking {
        padding: 20px 0;
    }
    .desc--booking {
        padding-bottom: 10px;
    }
}

@media (min-width: 808px) {
    .desc--booking {
        padding-bottom: 20px;
    }
}

@media (min-width: 1220px) {
    .title--booking {
        padding: 10px 0;
    }
    .desc--booking {
        padding-bottom: 24px;
    }
    .contacts__content {
        margin-left: clamp(3px, calc((100vw - 1220px) * 0.4936 + 3px), 158px);
        margin-right: 0;
        margin-top: 40px;
    }
    .booking {
        margin-right: clamp(3px, calc((100vw - 1220px) * 0.4936 + 3px), 158px);
        margin-left: 0;
        margin-top: 40px;
    }
    .contacts {
        padding-bottom: 40px;
    }
}

.footer {
    background-color: rgb(21, 45, 50);
    text-align: center;
    padding: 90px 24px 60px;
}

.club__logo {
    width: 196px;
    display: inline-block;
}

.club__text {
    color: rgb(251, 248, 239);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0;
}

.header__socials--footer a {
    margin-right: 10px;
    display: inline-block;
}

.header__socials--footer a:last-child {
    margin-right: 0;
}

.footer__main-text {
    color: var(--color-main);
    font-family: var(--font-family-main);
    font-size: 24px;
    font-weight: 400;
    padding-top: 40px;
}

.footer__main-text::after {
    content: "";
    display: block;
    height: 3px;
    width: 88px;
    background-color:rgb(19, 74, 86);
    margin: 10px auto;
}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: rgb(251, 248, 239);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
}

.footer a:hover {
    text-decoration-line: underline;
    color: rgb(251, 248, 239);
}

.footer__form {
    width: 100%;
    padding: 12px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 2px solid rgb(33, 56, 60);
    font-family: var(--font-family-secondary);
    background-color: rgb(33, 56, 60);
    color: var(--color-main);
    opacity: 0.8;
}

.footer__form::placeholder {
    color: var(--color-main);
    opacity: 0.8;
    text-align: center;
}

.footer__form:focus {
    outline: none; 
    border: 2px solid #65c3e0;
    box-shadow: 0 0 5px rgba(5, 241, 230, 0.7);
}

.subscribe .btn--color {
    width: 100% !important;
    max-width: none !important;
    margin-top: 6px;
    margin-bottom: 40px;
    padding: 10px 20px;
}

@media (min-width: 770px) {
    .footer__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        gap: 10px;
    }
    .club__logo {
        width: 120px;
        float: left;
        padding-bottom: 16px;
    }
    .club__text {
        font-size: 15px;
    }
    .footer__main-text {
        margin-top: -50px;
    }
    .footer__main-text, .club__text, .footer ul,
    .footer__form::placeholder, .header__socials--footer {
        text-align: left;
    }
    .footer__main-text::after {
        min-width: 24px;
        margin: 10px 0;
    }

}

@media (min-width: 950px) {
    .club__logo {
        width: 150px;
    }
}

@media (min-width: 1100px) {
    .club__logo {
        width: 180px;
    }
}

@media (min-width: 1200px) {
    .footer__container {
        max-width: 1220px;
        margin: 0 auto; 
        padding: 8px 24px 20px; 
        gap: 30px; 
    } 
}

.footer__down-text, .footer__down-desc{
    color: rgb(251, 248, 239);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 400;
}

.footer__down-text {
    padding-bottom: 20px;
}

@media (min-width: 770px) {
    .footer__down {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    .footer__down-text, .footer__down-desc{
        font-size: 16px;
        margin-bottom: -60px;
    }
}

.width-line {
    opacity: 0.4;
    margin-bottom: 20px;
}