@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family-main: "Amiri", serif;
    --font-family-secondary: "Source Sans 3", sans-serif;

    --color-main: #FFFFFF;

    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.header__container {
    padding-top: 30px;
    padding-left: clamp(24px, 5vw, 40px);
    padding-right: clamp(24px, 5vw, 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 240px;
}

.header__burger {
    all: unset;
    cursor: pointer;
    color: var(--color-main);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.header__nav {
    display: none;
}

.header__menu {
    display: flex;
    list-style: none;
}

.header__menu a {
    color: #FBF8EF;
    font-family: var(--font-family-secondary);
    font-weight: 600;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.header__menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #FBF8EF;
    transition: width 0.5s ease;
}

.header__menu a:hover::after {
    width: 100%;
}

.header__menu-item {
    padding-right: 16px;
}

.header__socials {
    display: none;
}

.header__socials-icon {
    width: 28px;
    height: 28px;
    background-color: rgb(213, 182, 101);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.header__socials-icon .logo_2gS {
    fill: #ffffff; 
}

.header__socials-icon .outer_bDW,
.header__socials-icon .border_2yy {
  fill: none;
}

.header__socials-icon:hover {
    background-color: rgb(202, 163, 61);
}


@media (min-width: 1220px) {
    .header__container, .welcome__container, 
    .about-us__container, .facilities, 
    .join__content
     {
        margin-inline: clamp(3px, calc((100vw - 1220px) * 0.4936 + 3px), 158px);
    }
}

@media (min-width: 990px){
    .header__burger {
        display: none;
    }
    .header__nav {
        display: flex;
    }
    .header__socials {
        display: inline;
    }
}

.welcome {
    background-image: url(images/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15% center;
    width: 100%;
    height: calc(100vh + 900px);
    margin-top: -71px;
}

@media (min-width: 505px) {
    .welcome {
        height: calc(100vh + 850px);
    }
}

@media (min-width: 517px) {
    .welcome {
        height: calc(100vh + 800px);
    }
}

@media (min-width: 525px) {
    .welcome {
        height: calc(100vh + 760px);
    }
}

@media (min-width: 560px) {
    .welcome {
        height: calc(100vh + 720px);
    }
}

.welcome__container {
    padding: 210px 24px;
}

.welcome__title {
    font-family: var(--font-family-main);
    font-size: 54px;
    color: var(--color-main);
    font-weight: 400;
    line-height: 1;
    padding-bottom: 40px;
}

.welcome__desc {
    font-family: var(--font-family-secondary);
    font-size: 20px;
    color: #FBF8EF;
    font-weight: 600;
    padding-bottom: 50px;
}

.btn {
    width: 100%;
    max-width: 158px;
    padding: 16px 30px;
    font-family: var(--font-family-secondary);
    font-size: 16.5px;
    font-weight: 700;
    text-decoration: none;
    border: solid 2px transparent;

    text-align: center; 
}

.btn--color {
    background-color: rgb(213, 182, 101);
    color: var(--color-main);
    border-color: rgb(213, 182, 101);
    transition: background-color 0.5s ease, border-color 0.5s ease;

    margin-right: 10px;
}

.btn--color:hover {
    background-color: var(--color-main);
    color: rgb(19, 74, 86);
    border-color: #FFFFFF;
}

.btn--transparent {
    color: rgb(213, 182, 101);
    border-color: rgb(213, 182, 101);
    transition: background-color 0.5s ease;
}

.btn--transparent:hover {
    background-color: rgb(213, 182, 101);
    color: var(--color-main);
}

.welcome__cards {
    padding-top: 64px
}

.welcome__card {
    width: 100%;
    min-width: 436px;
    background-color: var(--color-main);
    margin-bottom: 50px;
    padding-inline: 26px;
    position: relative;
    z-index: 1;
}

.welcome__card-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 26px;
}

.welcome__card-title {
    font-family: var(--font-family-main);
    font-size: 24px;
    color: rgb(19, 74, 86);
    font-weight: 400;
    margin-top: 12px;
}

.welcome__card-title::after {
    content: "";
    display: block;
    height: 3px;
    width: 76px;
    background-color: rgb(213, 182, 101);
    margin: 10px 0 16px;
}

.welcome__card-desc {
    font-family: var(--font-family-secondary);
    font-size: 14px;
    color: rgb(111, 119, 121);
    font-weight: 400;
    padding-bottom: 28px;
    line-height: 1.6;
}

@media (min-width: 770px) {
    .welcome {
        height: calc(100vh + 300px);
    }
    .welcome__title {
        font-size: 76px;
        padding-top: 64px;
    }
    .welcome__cards {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        margin-top: 116px;
    }
    .welcome__card {
        width: 100%;
        min-width: 154px;
    }
    .welcome__card-desc {
        font-size: 15px;
        line-height: 2;
    }
}

@media (min-width: 990px) {
    .welcome__title {
        font-size: 92px;
        padding-top: 154px;
    }
}

@media (min-width: 1200px) {
    .welcome__title {
        padding-top: 122px;
    }
}

.about-us {
    background-color: rgb(251, 248, 239);
    margin-top: -135px;
    padding-bottom: 90px;
}

.about-us__container {
    padding-top: 220px;
    padding-inline: 24px;
}

.about-us__content {
    margin-top: 50px;
}

.sub {
    color: rgb(213, 182, 101);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    margin-bottom: 18px;
}

.title {
    color: rgb(19, 74, 86);
    font-family: var(--font-family-main);
    font-size: 38px;
    font-weight: 400;
    line-height: 1;
}

.desc {
    color: rgb(41, 98, 110);
    font-family: var(--font-family-main);
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
}

.paragraph {
    color: rgb(111, 119, 121);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.about-us__list {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.about-us__item {
    color: rgb(41, 98, 110);
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-weight: 400;
}

.about-us__item::before {
    content: "";
    display: inline-block;
    background-image: url(images/tick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.btn--learn {
    background-color: rgb(19, 74, 86);
    color: var(--color-main);
    border-color: rgb(19, 74, 86);
    transition: background-color 0.5s ease, border-color 0.5s ease;

    display: block;
    margin-top: 36px;
}

.btn--learn:hover {
    background-color: rgb(213, 182, 101);
    border-color: rgb(213, 182, 101);
}

@media (min-width: 770px) {
    .about-us__container {
        display: flex;
        gap: 25px;
        padding-top: 250px;
    }
    .about-us__image {
        flex: 1;
        width: 340px;
        height: 360px;
        display: block;
        margin-top: 50px;
    }
    .about-us__content {
        flex: 1;
    }
    .title {
        font-size: 44px;
    }
}

@media (min-width: 860px) {
    .about-us__image {
      height: 400px;  
    }
}

@media (min-width: 950px) {
    .about-us__image {
      height: 450px;  
    }
}

@media (min-width: 990px){
    .title {
        font-size: 50px;
    }
    .desc {
        font-size: 21px;
    }
}

@media (min-width: 1100px) {
    .about-us__image {
      height: 543px;  
    }
}

.facilities__content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 90px;
}

@media (min-width: 1100px) {
    .facilities__content-text {
        padding-top: 115px;
    }
}

.facilities__cards {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.facilities__card {
    height: clamp(250px, 50vw, 554px);
    width: clamp(200px, 40vw, 440px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    padding: 20px;
    position: relative;
}

.facilities__card--beginner {
    background-image: url(images/girl_player.webp);
}

.facilities__card--prof {
    background-image: url(images/field);
}

.facilities__card--all {
    background-image: url(images/balls);
}

.facilities__card-text {
    width: 160px;
    margin-top: auto;
}

@media (min-width: 560px) {
    .facilities__card-text {
        width: 180px;
    }
}

.facilities__card-sub {
    color: rgb(213, 182, 101);
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
}

.facilities__card-title {
    color: var(--color-main);
    font-family: var(--font-family-main);
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}

@media (min-width: 990px) {
    .facilities__cards {
        padding-top: 14px;
    }
     .facilities__card {
        height: clamp(352px, 50vw, 466px);
        width: clamp(280px, 40vw, 370px);
     }
}

.year {
    margin-left: 20px;
    margin-bottom: 110px;
}

.year__content {
    margin-top: 66px;
    margin-bottom: 80px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.year__content .title {
    font-size: 30px;
}

.year__content .paragraph {
    margin-top: 4px;
}

.year__content-text {
    display: flex;
    flex-direction: column;
}

.year__content::before {
    content: "";
    display: inline-block;
    background-color: #FBF8EF;    
    height: 50px;
    width: 50px;
    background-size: 60% 60%;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.year__content--1981::before {
    background-image: url(images/icons/player.svg);
}

.year__content--1990::before {
    background-image: url(images/icons/golf-ball.svg);
}

.year__content--2005::before {
    background-image: url(images/icons/t-shirt.svg);
}

.year__content--2018::before {
    background-image: url(images/icons/location.svg);
}

@media (min-width: 800px) {
    .year {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .year__content::before {  
        height: 70px;
        width: 70px;
        background-size: 50% 50%;
        border-radius: 50px;
    }
}

@media (min-width: 1000px) {
    .year {
        gap: 50px;
    }
    .year__content {
        margin-bottom: 5px;
    }
}

.join {
    background-color: rgb(19, 74, 86);
}

.join__content {
    padding: 60px 20px 80px;
}

.join__content-title {
    color: #FFFFFF;
    font-family: var(--font-family-main);
    font-size: 38px;
    font-weight: 400;
}

.join__content-desc {
    color: #FFFFFF;
    font-family: var(--font-family-secondary);
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 65px;
}


.join__content-desc span {
    color: rgb(213, 182, 101);
    font-weight: 700;
}

@media (min-width: 770px) {
    .join__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
   }
   .join__content-title {
        font-size: 44px;
        padding-right: 30px;
   }
   .join__content-desc {
        font-size: 15px;
        max-width: 255px;
        padding-top: 20px;
   }
}

@media (min-width: 990px) {
    .join__content-title {
        font-size: 50px;
        padding-right: 30px;
   }
   .join__content-desc {
        font-size: 16px;
        max-width: 466px;
   }
   .join .btn--color {
        max-height: 45px;
        font-size: 15px;
        display: inline-flex;
        align-items: center;
   }
}

.features__content {
    background-color: #FBF8EF;
    padding: 90px 30px;
}

.features__btn {
    padding-top: 50px;
    margin-bottom: 22px;
}

.features__btn .btn--color:hover {
    background-color: rgb(19, 74, 86);
    color: #FFFFFF;
    border-color: rgb(19, 74, 86);
}

.features__btn .btn--transparent {
    color: rgb(19, 74, 86);
    border-color: rgb(19, 74, 86);
}

.features__btn .btn--transparent:hover {
    color: #FFFFFF;
    background-color: rgb(19, 74, 86);
}

@media (min-width: 770px) {
    .features {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    .features__image,
    .features__content {
        width: 50%; 
    }
    .features__image {
        height: 100%;
        overflow: hidden;
    }
    .features__image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: left center;
    }
    .features__btn .btn {
        padding: 10px 18px;
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .features__content {
        padding: 110px 90px;
    }
    .features__btn .btn {
        padding: 12px 22px;
        font-size: 15px;
    }
}

.experience {
    background-color: rgb(19, 74, 86);
    padding: 90px 24px;
}

.experience__content--text {
    color: #FFFFFF;
    font-family: var(--font-family-main);
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
}

.experience__content--text::before {
    content: "";
    display: block;
    background-image: url(images/icons/trophy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: 0 auto 20px;
}

.experience__content--desc {
    color: rgb(251, 248, 239);
    font-family: var(--font-family-secondary);
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 60px;
    text-align: center;
}

.experience__content .btn--color {
    display: block;
    white-space: nowrap;
    margin: -24px auto 4px;
}

@media (min-width: 770px) {
    .experience__content--text {
        font-size: 44px;
    }
}

@media (min-width: 990px) {
    .experience__content--text {
        font-size: 50px;
    }
    .experience__content--desc {
        font-size: 21px;
    }
}